@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Adafast</h1>
    <p class="lead">Helping you achieve your business goals, fast.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Digital Transformation</h2>
        <p>
            Adapt quickly in the fast-paced technology landscape. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Business Consultancy</h2>
        <p>Increase your business profit.</p>
    </div>
</div>